{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Todo List{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<header>
</header>
<div class="container-fluid">
  <div class="row">
    <aside class="sidebar col-md-3">
      {% include "includes/sidebar.html" %}
    </aside>

    <main class="col-md-9 content-wrapper">
      {% block content %}
      {% endblock %}
      {% include 'includes/pagination.html' %}
    </main>
  </div>
</div>

<footer class="bg-light py-3 mt-4">
</footer>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
