{% extends 'base.html' %}

{% block title %}Tags{% endblock %}

{% block content %}
  <div class="container">
    <h2 class="mt-4">Tags</h2>
    <div class="text-right mb-4">
      <a class="btn btn-primary" href="{% url 'tasks:tags-create' %}">Add</a>
    </div>
    <ul class="list-group">
      {% for tag in tags %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ tag.name }}
          <div>
            <a class="btn btn-secondary btn-sm" href="{% url 'tasks:tags-update' pk=tag.id %}">Edit</a>
            <a class="btn btn-danger btn-sm" href="{% url 'tasks:tags-delete' pk=tag.id %}">Delete</a>
          </div>
        </li>
      {% empty %}
        <li class="list-group-item">No tags available.</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
